 .Headercaption{
    height: 100vh;
    position: relative;
  
}
.heading{
    position: absolute;
    top:50%;
    left:40%;
    color:white;
    text-transform: uppercase;
    font-size: 2rem;
    font-weight: 500;
    
}
.rowstyle{
    background-color: gray;
}
.mybutton{
    position: absolute;
    bottom: 10%;
    left: 10%;
    border:  1px solid blue;
    padding: 5px;
    background-color: black;
}
.home-link{
    border-bottom:  1px solid blue;
    text-transform: uppercase;

}
.alumsImages{
   /* display: flex;
   
   flex-wrap: nowrap;
   flex-direction: row; */
   display: inline;
  
   
}